In [1]:
from twitter_fetcher import TwitterEntityGroup

In [2]:
group = TwitterEntityGroup('../db/reviewed/Parlamentarier.csv')

In [4]:
group.df[['SM_Twitter_id']]

           SM_Twitter_id
0                    NaN
1                    NaN
2     826402742893760512
3     791978053379432448
4              262062333
...                  ...
2676  874540143461511168
2677  964949052411572224
2678  827151378195824640
2679          2261267142
2680                 NaN

[2681 rows x 1 columns]

In [5]:
group.check_accounts(output='../db/changed_twitter_accounts.csv')

/Users/muench/HBI/Projects/DBoeSAuto/scraper/twitter_fetcher.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  old['SM_Twitter_user'] = old['SM_Twitter_user'].str.lower()

          SM_Twitter_id  SM_Twitter_user old/new
0              18935360    manfred_grund     old
1              21791639       swenschulz     old
2              22945978         marc2244     old
3              23142957  kirstenluehmann     old
4              25816024    gabihillerohm     old
5              37733252     kerstin_tack     old
6              54535670    wellenreuther     old
7              68455687  andreashoeppner     old
8             137991148      sandraboser     old
9             143351769    nikolasloebel     old
10            264130365   willistaechele     old
11            372304486   danielrenkonen     old
12            391911523    alexkoenigmdl     old
13            393541223  jessicabiessman     old
14            535373865     detlevpilger     old
15            542852805   klauskaisercdu     old
16            862714045      fostendorff     old
17            939034891   susanne_mittag     old
18           1402997803       hermiworld     old
19           1525828872     andrekupergt     old
20           1720247887       tobiaszech     old
21           2290961736       zieglermdb     old
22           2373681362   constanzekrehl     old
23           2450015448    martinbaeumer     old
24           2530965517        freekolja     old
25           2912501901    lorenzcaffier     old
26           3007445145           mkgmdl     old
27           3091641345     thoreschaeck     old
28           3105222699    robby_schlund     old
29           3120124065   alexandersaipa     old
30           3147619972     eva_goldbach     old
31           3372237947   regina_poersch     old
32   708224250885349376   hpfriedrichcsu     old
33   712207722301751296     lambrechtmdb     old
34   727753463229206528   drrainerbalzer     old
35   740460717862727680   nettekovenjens     old
36   750777254087622656      dirk_herber     old
37   760184727752077312    karsten_hilse     old
38   786617013422526464    stefanraepple     old
39   786617013422526464      fragmichnet     new
40   856807050294251520  carlocronenberg     old
41   877919294998315008   stefanherremdl     old
42   881923931992711168       heinermerz     old
43   887345693526036480     sbubendorfer     old
44   912243750809817088   siemtjemoeller     old
45   959063159222005760      cordulaeger     old
46   989042256937193477   berndgoegelafd     old
47  1078621288007127041     ralfstadler1     old
48  1122160535661961216         mdlmaier     old